pipeline/PL_Load_Table.json
{
	"name": "PL_Load_Table",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\r\n'SELECT WatermarkValue\r\nFROM control.Watermark\r\nWHERE TableName = ''',\r\npipeline().parameters.TableName,\r\n''''\r\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_Watermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_GetWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WatermarkValue",
					"value": {
						"value": "@activity('LKP_GetWatermark').output.firstRow.WatermarkValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IF_FullOrIncremental",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.LoadType,'Full')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set Query incremental",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "DynamicQuery",
								"value": {
									"value": "@concat(\r\n'SELECT * FROM ',\r\npipeline().parameters.SourceSchema,\r\n'.',\r\npipeline().parameters.SourceTable,\r\n' WHERE LastModifiedDate > ''',\r\nvariables('WatermarkValue'),\r\n''''\r\n)",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "set query full",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "DynamicQuery",
								"value": {
									"value": "@concat(\n'SELECT * FROM ',\npipeline().parameters.SourceSchema,\n'.',\npipeline().parameters.SourceTable\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "CPY_SQL_To_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IF_FullOrIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('DynamicQuery')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "@pipeline().parameters.SourceSchema",
							"TableName": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_DYNAMIC",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@pipeline().parameters.SinkFolder",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(pipeline().parameters.TableName,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"SourceSchema": {
				"type": "string"
			},
			"SourceTable": {
				"type": "string"
			},
			"SinkFolder": {
				"type": "string"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"variables": {
			"WatermarkValue": {
				"type": "String"
			},
			"DynamicQuery": {
				"type": "String"
			},
			"OutputFileName": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}