pipeline/PL_Load_Table.json
{
	"name": "PL_Load_Table",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat(\r\n'SELECT WatermarkValue\r\nFROM control.Watermark\r\nWHERE TableName = ''',\r\npipeline().parameters.TableName,\r\n''''\r\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CONTROL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SET_Watermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_GetWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "WatermarkValue",
					"value": {
						"value": "@activity('LKP_GetWatermark').output.firstRow.LastWatermark",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"SourceSchema": {
				"type": "string"
			},
			"SourceTable": {
				"type": "string"
			},
			"SinkFolder": {
				"type": "string"
			},
			"LoadType": {
				"type": "string"
			}
		},
		"variables": {
			"WatermarkValue": {
				"type": "String"
			},
			"DynamicQuery": {
				"type": "String"
			},
			"OutputFileName": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}