pipeline/PL_Master_Ingestion.json
{
	"name": "PL_Master_Ingestion",
	"properties": {
		"activities": [
			{
				"name": "LKP_GetPipelineConfig",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    TableName,\n    SourceSchema,\n    SourceTable,\n    SinkFolder,\n    LoadType\nFROM control.PipelineConfig\nWHERE IsActive = 1\nORDER BY TableName;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_CONTROL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_LoadTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GetPipelineConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GetPipelineConfig').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 3,
					"activities": [
						{
							"name": "EXE_LoadTable",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Load_Table",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"SourceSchema": {
										"value": "@item().SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@item().SourceTable",
										"type": "Expression"
									},
									"SinkFolder": {
										"value": "@item().SinkFolder",
										"type": "Expression"
									},
									"LoadType": {
										"value": "@item().LoadType",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}